<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GalaSoft.MvvmLight.CheckVersion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GalaSoft.MvvmLight.CheckVersion.Properties.Settings>
            <setting name="VersionFileLocation" serializeAs="String">
                <value>http://www.galasoft.ch/mvvm/resources/Setup/mvvm-light-version.xml</value>
            </setting>
            <setting name="GetStartedLocation" serializeAs="String">
                <value>http://www.galasoft.ch/mvvm/getstarted</value>
            </setting>
        </GalaSoft.MvvmLight.CheckVersion.Properties.Settings>
    </userSettings>
</configuration>