<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.AndroidX.Annotation" version="1.1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="2.1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Collection" version="1.1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Core" version="1.2.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.CustomView" version="1.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="2.2.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="2.2.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Migration" version="1.0.6.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.MultiDex" version="2.0.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.RecyclerView" version="1.1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.VersionedParcelable" version="1.1.1.1" targetFramework="monoandroid90" />
</packages>